<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Memory_BK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846813B61DB48C6B00A3EDD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846813CA1DB48C6B00A3EDD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846813D51DB48C6B00A3EDD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
